<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.app.compsat.compsatapplication">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="org.app.compsat.compsatapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.app.compsat.compsatapplication.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebsiteActivity"
            android:label="@string/title_activity_website"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewsfeedActivity"
            android:label="@string/title_activity_notification"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.app.compsat.compsatapplication.MainActivity" />
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="org.app.compsat.compsatapplication" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LinksActivity"
            android:label="@string/title_activity_links"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/gear_notif" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".EventPage"
            android:label="@string/title_activity_event_page" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".CreateOrganizationActivity" />
        <activity android:name=".OrganizationListActivity" />
        <activity
            android:name=".OrganizationPageActivity"
            android:label="@string/title_activity_organization_page"></activity>
    </application>

</manifest>
